{% extends 'general/skeleton/base_with_logo.html' %}

{% load staticfiles %}

{% block title %}
Post a Job - Owatonna Jobs Online
{% endblock title %}

{% block head_extras %}
    {{ form.media }}
    <script>

    </script>
{% endblock head_extras %}

{% block content %}

      <!-- body-content -->
      <div class="body-content clearfix" >


        <!-- pricing 3 cols -->
        <div class="block-section bg-color1 line-bottom">
          <div class="container ">
            <!-- text centered -->
            <div class="text-center">
              <strong class="text-uppercase">select your plan</strong>
              <h2>{{ post.title }}</h2>
              <div class="white-space-30"></div>
            </div><!-- text centered -->

            <div class="row plan-nospace">
              <div class=" col-md-4 plan-item">

              </div>

              <div class=" col-md-4 plan-item">
                <!-- plan box -->
                <div class="plan popular">
                  <div class="plan-title">
                    <h3 >1 Job Posting</h3>

                  </div>

                  <div class="plan-price">
                    <span class="price ">$49.99</span>
                  </div>

                  <div class="plan-list" style="padding-bottom:20px;">
                    <ul class="item-list list-unstyled">
                      <li>1 Month</li>
                      <li>Auto Renews Monthly</li>
                    </ul>
                    {% if four_digits %}
                    <form action="" method = "post">
                        {% csrf_token %}
                        <input class="btn btn-default" type="submit" name="checkout" value="Checkout with Card {{ four_digits }}" />
                    </form>
                    <p class="text-center" style="margin-top:10px;"><span class="span-line">or</span></p>
                    {% endif %}
                    <form action="#" method="POST">
                        {% csrf_token %}
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ pushable_key }}"
                        data-image="{% static 'theme/images/logo/case.png' %}"
                        data-name="Owatonna Jobs Online"
                        data-description="Monthly Job Post Subscription"
                        data-amount="4999"
                        data-locale="auto"
                        data-panel-label="Subscribe for {{ amount }}"
                        {% if four_digits %}
                            data-label="Change Subscription Card"
                        {% else %}
                            data-label="Checkout"
                        {% endif %}>
                      </script>
                    </form>
                  </div>
                </div><!-- end plan box -->
              </div>

              <div class=" col-md-4 plan-item">

              </div>

            </div>

            <p class="text-center"><span class="span-line">Learn More</span></p>

          </div>
        </div><!-- end pricing 3 cols -->

        <!-- block promo -->
        <div class="block-section bg-color2 line-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-center-sm">
                <h2>Post a Job</h2>
                <p>Post your jobs directly to JobPlanet in minutes. You'll get quality applicants sent directly to your inbox, no website required.</p>
                <p><a href="job_post_2.html" class=" btn btn-theme btn-t-primary">Post On JobPlanet</a></p>
                <p><a href="#">Learn more about posting your jobs on JobPlanet</a></p>
              </div>
              <div class="col-md-6 text-center hidden-sm hidden-xs">
                <img src="./assets/theme/images/mac1.png" alt="">
              </div>
            </div>
          </div>
        </div><!-- end block promo -->

        <!-- block promo -->
        <div class="block-section bg-color1 line-bottom">
          <div class="container">
            <div class="row">

              <div class="col-md-6 text-center hidden-sm hidden-xs"> <img src="./assets/theme/images/mac.png" alt=""></div>
              <div class="col-md-6 text-center-sm">
                <h2>Company Profile</h2>
                <p>Post your jobs directly to JobPlanet in minutes. You'll get quality applicants sent directly to your inbox, no website required.</p>
                <p><a href="company_page.html" class=" btn btn-theme btn-t-primary">Learn more about company pages</a></p>

              </div>
            </div>
          </div>
        </div> <!-- end block promo -->


        <!-- block promo -->
        <div class="block-section bg-color2 line-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-center-sm">
                <h2>Resume Search</h2>
                <p>Post your jobs directly to JobPlanet in minutes. You'll get quality applicants sent directly to your inbox, no website required.</p>
                <p><a href="resume_list.html" class=" btn btn-theme btn-t-primary">Find Resumes</a></p>
                <p><a href="#">Learn more about JobPlanet Resume</a></p>
              </div>
              <div class="col-md-6 text-center hidden-sm hidden-xs">
                <img src="./assets/theme/images/mac2.png" alt="">
              </div>
            </div>
          </div>
        </div><!-- end block promo -->

        <!-- block bottom -->
        <div class="block-section bg-color1">
          <div class="container text-center">
            <strong class="text-uppercase">support</strong>
            <h2 >Any questions?</h2>
            <div class="white-space-20"></div>
            <a href="#" class="btn btn-t-primary  btn-theme">Contact Us</a>
          </div>
        </div><!-- end block bottom -->

      </div><!--end body-content -->

{% endblock content %}