{% extends 'general/skeleton/base_with_logo.html' %}

{% block title %}
    Register - Owatonna Jobs Online
{% endblock title %}

{% block content %}

      <div class="body-content clearfix" >

        <div class="block-section bg-color4">
          <div class="container">
            <div class="panel panel-md">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <!-- form login -->
                    <h3 class="text-center">Company Registration</h3>
                    <hr />
                        <form method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                              <div class="form-group">
                                <label>Company Name</label>
                                  {{ company_form.name }}
                                <small style="color:red">{{ company_form.name.errors|striptags }}</small>
                              </div>
                              <div class="form-group">
                                <label>Email</label>
                                  {{ user_form.email }}
                                <small style="color:red">{{ user_form.email.errors|striptags }}</small>
                              </div>
                              <div class="form-group">
                                <label>Password</label>
                                  {{ user_form.password }}
                                  <small style="color:red">{{ user_form.password.errors|striptags }}</small>
                              </div>
                          <div class="white-space-10"></div>
                          <div class="form-group no-margin">
                            <button class="btn btn-theme btn-lg btn-t-primary btn-block">Register</button>
                          </div>
                        </form><!-- form login -->
                  </div>
                </div>
              </div>
            </div>

            <div class="white-space-20"></div>
            <div class="text-center color-white">By creating an account, you agree to Owatonna Jobs Online <br/><a href="#" class="link-white"><strong>Terms of Service</strong></a> and consent to our <a href="#" class="link-white"><strong>Privacy Policy</strong></a>.</div>
          </div>
        </div>
      </div>

{% endblock content %}