{% extends 'account/skeleton/account_base.html' %}

{% load staticfiles %}
{% load board_extras %}

{% block title %}
    Update Posts - Owatonna Jobs Online
{% endblock title %}

{% block info %}
    <!-- body-content -->
    <div class="row">
        <div class="col-md-6">
            <h3 class="no-margin-top">Update Posts</h3>
        </div>
        <div class="col-md-6 text-right">
            <h3 class="no-margin-top">{{ enabled_posts_count }}/{{ company.max_posts }} Allowed Posts Used</h3>
        </div>
    </div>
    <hr/>
    {% if message %}
        {% if success %}
            <div class="alert alert-success" role="alert">
        {% else %}
            <div class="alert alert-danger" role="alert">
        {% endif %}
        {{ message }}</div>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <div class="box-list">
            {% if posts %}
            {% for post in posts %}
                <div class="item" {% if not post.paid %}style="padding-bottom:18px"{% endif %}>
                  <div class="row">
                    <div class="col-md-12">
                      <form action="#" method="post" id="{{ post.id }}">{% csrf_token %}</form>
                      <h3 class="no-margin-top">
                          <a href="{% url 'job_details' post.company.slug post.slug %}" class="">{{ post.title }}<i class="fa fa-link color-white-mute font-1x"></i></a>
                          <a role="button" class="btn btn-xs btn-theme btn-primary pull-right" href="{% url 'update_post' post.slug %}">Edit</a>
                          <button class="btn btn-xs btn-theme btn-success pull-right" type="submit" form="{{ post.id }}" style="margin-right:10px;" name="post" value="{{ post.id }}">{% if post.paid %}Disable{% else %}Enable{% endif %}</button>
                          </h3>
                      <p class="text-truncate ">{{ post.description|striptags }}</p>
                      <div>
                        <span class="color-white-mute">{{ post.date|dayssince }}</span> {% if post.categories.all %}-{% endif %}
                          {% for category in post.categories.all %}
                            <a data-toggle="modal" class="btn btn-xs btn-theme btn-default">{{ category.name }}</a>{% if not forloop.last %} -{% endif %}
                          {% endfor %}
                      </div>
                      {% if not post.paid or not post.verified %}
                          <small style="padding-top:10px; color:red;">
                          {% if not post.paid and not post.verified %}
                            This post is currently not displayed due to not being enabled and verified
                          {% elif not post.paid %}
                            This post is currently not displayed due to not being enabled
                          {% elif not post.verified %}
                            This post is currently not displayed due to not being verified. It should happen soon!
                          {% endif %}
                          </small>
                      {% endif %}
                    </div>
                  </div>
                </div><!-- end item list -->
            {% endfor %}
            {% else %}
                No previous posts found, try <a href="{% url 'post_a_job' %}">creating</a> one!
            {% endif %}
        </div>
      </div>
    </div>
{% endblock info %}