{% extends 'general/skeleton/base_with_logo.html' %}

{% load staticfiles %}

{% block title %}
About Us - Owatonna Jobs Online
{% endblock title %}

{% block content %}
      <!-- body-content -->
      <div class="body-content clearfix" >

        <!-- block top -->
        <div class="bg-color1 block-section line-bottom">
          <div class="container text-center">
            <h2 class="">We help connect employers and job seekers in Owatonna</h2>
            <div class="white-space-15"></div>
            <p></p>

            <!-- world map -->
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <img src="{% static 'theme/images/world-map.png' %}" alt="" class="img-full">
              </div>
            </div><!-- world map -->

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h5>Owatonna Jobs Online's goal is to decrease unemployment in Owatonna. There are two major avenues we accomplish this through. One is advertisement of local jobs that may otherwise be not be listed on bigger websites. Two is advertisement of Owatonna itself. We want to show other people how great it can be to live and work here.</h5>
                </div>
            </div>
            <hr/>
            <div class="white-space-15"></div>
            <h2>We can help you get a job</h2>
            <p>We have local jobs that you will be unable to find on other sites</p>
            <div class="white-space-15"></div>

            <!-- box with icon center -->
            <div class="row">
              <div class="col-md-4">
                <div class="box-ic-center">
                  <i class="fa fa-laptop ic-box"></i>
                  <h4>Web</h4>
                  <p>Our desktop website lists all the new jobs in Owatonna.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box-ic-center ">
                  <i class="fa fa-tablet ic-box"></i>
                  <h4>Mobile</h4>
                  <p>With full support for mobile web-browsing, you can check for new jobs wherever you are.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box-ic-center">
                  <i class="fa fa-exclamation ic-box"></i>
                  <h4>Future</h4>
                  <p>We will consistently update our website with new features. Any suggestions? Please <a href="{% url 'contact_us' %}">contact us</a>.</p>
                </div>
              </div>
            </div><!-- box with icon center -->

            <hr/>
            <div class="white-space-15"></div>
            <h2>We can help you hire</h2>
            <p>Owatonna Jobs Online for Employers provides easy and effective ways to hire.</p>
            <div class="white-space-15"></div>

            <!-- box with icon center -->
            <div class="row">
              <div class="col-md-6">
                <div class="box-ic-center">
                  <i class="fa fa-clipboard ic-box"></i>
                  <h4>Post a job</h4>
                  <p>Post a job in minutes using our online interface. Quality, focused job seekers will be sent to your inbox or website within days.</p>
                  <a href="{% url 'post_a_job' %}" class="btn btn-sm btn-pill btn-theme btn-line dark">Post a Job</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box-ic-center ">
                  <i class="fa fa-search ic-box"></i>
                  <h4>Company Profile</h4>
                  <p>Job seekers can find out what makes your company so great with an easily generated company profile.</p>
                  <a href="{% url 'register' %}" class="btn btn-sm btn-pill btn-theme btn-line dark">Register Today</a>
                </div>
              </div>
            </div><!-- box with icon center -->

          </div>
        </div><!-- end block top -->
      </div><!--end body-content -->
{% endblock content %}