{% extends 'general/skeleton/base_with_logo.html' %}

{% load staticfiles %}

{% block title %}
    Contact Us - Owatonna Jobs Online
{% endblock title %}

{% block content %}
    <div class="body-content clearfix">
        <div class="bg-color1 block-section line-bottom">
          <div class="container">
            <h2 class="text-center">We're here to help in any way we can.<br>
              <small> Please send us an email and we'll get back to you shortly.</small></h2>
            <div class="white-space-20"></div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="white-space-10"></div>

                <!-- box with icon -->
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <div class="box-ic-center ">
                      <i class="fa fa-envelope ic-box"></i>
                      <h4>Email</h4>
                      <a href="mailto:ethan@owatonnajobsonline.com"><p>ethan@owatonnajobsonline.com</p></a>
                    </div>

                  </div>
                </div> <!-- end box with icon -->
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}