.image-div {
    text-align:center;
    height:60px;
}

.image-in-image-div {
    max-width: 80%;
    height:60px;
}

.focused-color {
    color: #5cb85c;
}

.socials a {
	border: 0px;
}

.faq-image {
    border: 2px solid #333;
    border-radius: 5px;
    margin-bottom: 28px;
    width: 70%;
}