{% extends 'general/skeleton/base_with_logo.html.html' %}

{% load staticfiles %}

{% block title %}
Page not Found - Owatonna Jobs Online
{% endblock title %}

{% block content %}

      <!-- body-content -->
      <div class="body-content clearfix" >

        <div class="block-section bg-color2">
          <div class="container">
            <!-- text centered -->
            <div class="text-center">
              <h1>Oops!</h1>
              <h2>We can't seem to find the page you're looking for.<br/><small>Error code: 404</small></h2>

              <p>Here are some helpful links instead:</p>
              <ul class="list-inline">
                <li> <a href="#">Home</a></li>
                <li><a href="#">Find a Job</a></li>
                <li> <a href="#">Blog</a></li>
                <li> <a href="#">Contact Us</a></li>
              </ul>
            </div><!-- end text centered -->

            <!-- big text error -->
            <div class="big-error">404</div><!-- end big text error -->
          </div>
        </div>        
      </div><!--end body-content -->

{% endblock content %}