{% extends 'general/skeleton/base_with_logo.html' %}

{% load staticfiles %}

{% block title %}
    Password Change - Owatonna Jobs Online
{% endblock title %}

{% block header_small %}
    <h3 class="color-white">For Employers</h3>
{% endblock header_small %}

{% block content %}
    <div class="body-content clearfix" >

        <div class="block-section bg-color4">
          <div class="container">
            <div class="panel panel-md">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="text-center">Update Password</h3>
                    <hr/>
                    <!-- form login -->
                    <form id="reset-form" method="post" action="">
                      {% csrf_token %}
                      {% for field in form %}
                          <div class="form-group">
                            <input type="password" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{% if forloop.counter0 == 0 %}Old{% else %}New{% endif %} Password{% if forloop.counter0 == 2 %} Again{% endif %}">
                          </div>
                          {% if field.errors %}
                              <div class="form-group">
                                  <small style="color:red">{{ field.errors }}</small>
                              </div>
                          {% endif %}
                      {% endfor %}
                      <div class="form-group no-margin">
                        <button class="btn btn-theme btn-lg btn-t-primary btn-block">Update</button>
                      </div>
                    </form><!-- form login -->
                  </div>
                </div>
              </div>
            </div>

            <div class="white-space-20"></div>
          </div>
        </div>

{% endblock content %}