{% extends 'general/skeleton/base_with_logo.html' %}

{% load staticfiles %}

{% block title %}
    Password Change Done - Owatonna Jobs Online
{% endblock title %}

{% block header_small %}
    <h3 class="color-white">For Employers</h3>
{% endblock header_small %}

{% block content %}
    <div class="body-content clearfix" >

        <div class="block-section bg-color4">
          <div class="container">
            <div class="panel panel-md">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="text-center">Password Successfully Updated</h3>
                    <p class="text-center"><a href="{% url 'update_info' %}">Click to go back to account</a></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="white-space-20"></div>
          </div>
        </div>

{% endblock content %}