{% extends 'general/skeleton/base_with_logo.html' %}

{% load staticfiles %}

{% block title %}
    Password Reset Complete - Owatonna Jobs Online
{% endblock title %}

{% block header_small %}
    <h3 class="color-white">For Employers</h3>
{% endblock header_small %}


{% block content %}
    <div class="body-content clearfix" >

        <div class="block-section bg-color4">
          <div class="container">
            <div class="panel panel-md">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="text-center">Process complete, please <a href="{% url 'login' %}">sign in.</a></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="white-space-20"></div>
          </div>
        </div>

{% endblock content %}