{% extends 'general/skeleton/base_with_logo.html' %}

{% load staticfiles %}

{% block title %}
    Password Reset Sent - Owatonna Jobs Online
{% endblock title %}

{% block content %}
    <div class="body-content clearfix" >

        <div class="block-section bg-color4">
          <div class="container">
            <div class="panel panel-md">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="text-center">Reset sent, please check your email!</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="white-space-20"></div>
          </div>
        </div>

{% endblock content %}