{% extends 'general/skeleton/base_with_logo.html' %}

{% load staticfiles %}

{% block title %}
    Password Reset - Owatonna Jobs Online
{% endblock title %}

{% block content %}
    <div class="body-content clearfix" >

        <div class="block-section bg-color4">
          <div class="container">
            <div class="panel panel-md">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="text-center">Reset Password</h3>
                    <hr/>
                    <!-- form login -->
                    <form id="reset-form" method="post" action="">
                      {% csrf_token %}
                      <div class="form-group">
                        <input type="email" class="form-control" name="{{ form.email.name }}" id="id_{{ form.email.name }}" placeholder="Email">
                      </div>
                      {% if form.email.errors %}
                          <div class="form-group">
                              <small style="color:red">{{ form.email.errors }}</small>
                          </div>
                      {% endif %}
                      <div class="form-group no-margin">
                        <button class="btn btn-theme btn-lg btn-t-primary btn-block">Reset</button>
                      </div>
                    </form><!-- form login -->

                  </div>
                </div>
              </div>
            </div>

            <div class="white-space-20"></div>
          </div>
        </div>

{% endblock content %}