{% extends 'general/skeleton/base_with_logo.html' %}

{% load staticfiles %}

{% block title %}
Post a Job - Owatonna Jobs Online
{% endblock title %}

{% block head_extras %}
    {{ form.media }}
    <script>

    </script>
{% endblock head_extras %}

{% block content %}

      <!-- body-content -->
      <div class="body-content clearfix" >

        <!-- pricing 3 cols -->
        <div class="block-section bg-color1 line-bottom">
          {% if error %}
          <div class="container ">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-danger" role="alert">Error, please try again<br />{{ error }}</div>
            </div>
          </div>
          {% endif %}

          <div class="container ">

            <!-- text centered -->
            <div class="text-center">
                {% if company %}
                  <strong class="text-uppercase">current plan</strong>
                  <h2>{{ company.plan.name }} Plan</h2>
                {% else %}
                  <strong class="text-uppercase">select a plan</strong>
                  <h2>Free for as long as you want</h2>
                {% endif %}
              <div class="white-space-30"></div>
            </div><!-- text centered -->

           <div class="row plan-nospace">
              {% if plans %}
              {% for plan in plans %}
                  <div class=" col-md-4 plan-item">
                    <!-- plan box -->
                    <div class="plan {% if forloop.counter == 2 %}popular{% endif %}">
                      <div class="plan-title">
                            <h3 {% if company.plan == plan %}class="text-primary"{% endif %}>{{ plan.name }} Plan</h3>
                      </div>

                      <div class="plan-price">
                        <span class="{% if company.plan == plan %}primary-price{% else %}price{% endif %}">{% if plan.cost == 0 %}FREE{% else %}${{ plan.cost }}{% endif %}</span>
                      </div>

                      <div class="plan-list">
                        <ul class="item-list list-unstyled">
                          <li><strong>{{ plan.max_posts }}</strong> Posts</li>
                          <li><strong>{{ plan.max_upgraded_posts }}</strong> Upgraded Posts</li>
                          <li><strong>0</strong> Front-Page Ads</li>
                        </ul>
                        {% if company.plan != plan and plan.cost != 0 %}
                            <form action="#" method="POST">
                                {% csrf_token %}
                                  <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="{{ pushable_key }}"
                                    data-image="{% static 'theme/images/logo/case.png' %}"
                                    data-name="Owatonna Jobs Online"
                                    data-description="{{ plan.name }} Subscription"
                                    data-amount="{{ plan.cost }}00"
                                    data-locale="auto"
                                    data-panel-label="Subscribe for {{ amount }}"
                                    data-label="Purchase">
                                  </script>
                                <input type="hidden" name="plan" value="{{ plan.id }}">
                            </form>
                        {% else %}
                            <button type="button" class="btn btn-t-primary btn-theme btn-lg btn-square btn-block"> {% if company.plan == plan %}In Use{% else %}Free{% endif %}</button>
                        {% endif %}
                      </div>
                    </div><!-- plan box -->
                  </div>
              {% endfor %}
              {% else %}
                  <h3 class="text-center">No Plans Created</h3>
              {% endif %}
            </div>

            <p class="text-center"><span class="span-line">Learn More</span></p>

          </div>
        </div><!-- end pricing 3 cols -->

        <!-- block promo -->
        <div class="block-section bg-color2 line-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-center-sm">
                <h2>Post a Job</h2>
                <p>Post your jobs directly to JobPlanet in minutes. You'll get quality applicants sent directly to your inbox, no website required.</p>
                <p><a href="job_post_2.html" class=" btn btn-theme btn-t-primary">Post On JobPlanet</a></p>
                <p><a href="#">Learn more about posting your jobs on JobPlanet</a></p>
              </div>
              <div class="col-md-6 text-center hidden-sm hidden-xs">
                <img src="./assets/theme/images/mac1.png" alt="">
              </div>
            </div>
          </div>
        </div><!-- end block promo -->

        <!-- block promo -->
        <div class="block-section bg-color1 line-bottom">
          <div class="container">
            <div class="row">

              <div class="col-md-6 text-center hidden-sm hidden-xs"> <img src="./assets/theme/images/mac.png" alt=""></div>
              <div class="col-md-6 text-center-sm">
                <h2>Company Profile</h2>
                <p>Post your jobs directly to JobPlanet in minutes. You'll get quality applicants sent directly to your inbox, no website required.</p>
                <p><a href="company_page.html" class=" btn btn-theme btn-t-primary">Learn more about company pages</a></p>

              </div>
            </div>
          </div>
        </div> <!-- end block promo -->


        <!-- block promo -->
        <div class="block-section bg-color2 line-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-center-sm">
                <h2>Resume Search</h2>
                <p>Post your jobs directly to JobPlanet in minutes. You'll get quality applicants sent directly to your inbox, no website required.</p>
                <p><a href="resume_list.html" class=" btn btn-theme btn-t-primary">Find Resumes</a></p>
                <p><a href="#">Learn more about JobPlanet Resume</a></p>
              </div>
              <div class="col-md-6 text-center hidden-sm hidden-xs">
                <img src="./assets/theme/images/mac2.png" alt="">
              </div>
            </div>
          </div>
        </div><!-- end block promo -->

        <!-- block bottom -->
        <div class="block-section bg-color1">
          <div class="container text-center">
            <strong class="text-uppercase">support</strong>
            <h2 >Any questions?</h2>
            <div class="white-space-20"></div>
            <a href="#" class="btn btn-t-primary  btn-theme">Contact Us</a>
          </div>
        </div><!-- end block bottom -->

      {% if four_digits %}
        <!-- Modal -->
      <div class="modal fade" id="confirmPayment" role="dialog">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Confirm Purchase</h4>
            </div>
            <div class="modal-body">
              <p>Confirm subscription for posting using card <b>{{ four_digits }}</b></p>
            </div>
            <div class="modal-footer">
              <form action="" method = "post">
                  {% csrf_token %}
                  <input class="btn btn-primary" type="submit" name="checkout" value="Subscribe with Card {{ four_digits }}" />
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}


      </div><!--end body-content -->

{% endblock content %}

{% block js %}
    <script>
        $(document).ready(function(){
            $(".stripe-button-el").addClass("btn btn-t-primary btn-theme btn-lg btn-square btn-block");
            $(".stripe-button-el").attr("id", "stripe-button");
            $(".stripe-button-el").removeClass("stripe-button-el");
            $("#stripe-button > span").css("min-height", "");
        });
    </script>
{% endblock %}