{% extends 'general/skeleton/base_with_search.html' %}

{% load staticfiles %}
{% load board_extras %}

{% block title %}{{ company.name }} - Owatonna Jobs Online{% endblock title %}

{% block content %}
      <!-- body-content -->
      <div class="body-content clearfix" >

        <!-- top link -->
        <div class="bg-color2 block-section-xs line-bottom">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 hidden-xs">
                <div>Company profile :</div>
              </div>
              <div class="col-sm-6">
                <div class="text-right"><a style="cursor:pointer;" onclick="history.back();">&laquo; Go back to job listings</a></div>
              </div>
            </div>
          </div>
        </div><!-- end top link -->

        <!-- company profile -->
        <div class="bg-color2">
          <div class="container">
            <div class="row">
              <div class="col-md-9">

                <!-- box item details -->
                <div class="block-section box-item-details">
                  <!-- logo company-->
                  <div class="row">
                    <div class="col-md-8">
                        {% if company.picture and company.plan.company_image %}
                            <a><img style="max-width:220px; max-height:60px;" src="{{ company.picture.url }}" alt=""></a>
                        {% else %}
                            <h2 style="margin-top:10px">{{ company.name }}</h2>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% if company.website %}
                            <p class="text-right"><a href="{{ company.website }}">Go to our website &raquo;</a></p>
                        {% endif %}
                    </div>
                  </div><!-- end logo company-->

                {% if company.description %}
                  <!-- About Company-->
                  <h3 class="title" id="cp-about">About</h3>

                  {{ company.description|safe|bleach_escape }}
                {% endif %}

                  <!-- Jobs list-->
                  <h3 class="title" id="cp-jobs">Jobs <small>({{ jobs|length }})</small></h3>
                    {% if jobs %}
                        {% for job in jobs %}
                          <div class="mt-20">
                            <h4><a href="{% url 'job_details' company.slug job.slug %}" class="">{{ job.title }} <i class="fa fa-link color-white-mute font-1x"></i></a></h4>
                            <p>{{ job.location }}</p>
                          </div>
                        {% endfor %}
                    {% else %}
                        <div class="mt-20">
                            <h4>This company is currently not hiring</h4>
                            <p>{{ job.location }}</p>
                          </div>
                    {% endif %}

                  <!--<p><a href="#" class="btn btn-theme btn-line dark btn-sm btn-pill">Load More</a></p>-->
                </div><!-- end box item details -->


              </div>
              <div class="col-md-3">

                <!-- box afix right -->
                <div class="block-section " id="affix-box">
                  <div class="text-center">
                    <!--<p><a href="#" class="btn btn-theme btn-t-primary btn-block">Follow</a></p>-->

                    <ul class="list-unstyled nav-sidebar">
                      <li>
                        <a href="#cp-about" class="link-innerpage">About</a>
                      </li>
                      <li>
                        <a href="#cp-jobs" class="link-innerpage">Jobs</a>
                      </li>
                    </ul>
                    <p>Share This Company </p>
                    <p class="share-btns">
                      <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="btn btn-info"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i></a>
                      <a href="#" class="btn btn-warning"><i class="fa fa-envelope"></i></a>
                    </p>
                  </div>
                </div><!-- end box afix right -->


              </div>
            </div>
          </div>
        </div> <!-- end company profile -->

        <!-- modal apply -->
        <div class="modal fade" id="modal-apply">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <form>
                <div class="modal-header ">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" >Apply</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label>Full name</label>
                    <input type="email" class="form-control "  placeholder="Enter Email">
                  </div>
                  <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control "  placeholder="Enter Email">
                  </div>
                  <div class="form-group">
                    <label>Tell us why you better?</label>
                    <textarea class="form-control" rows="6" placeholder="Something Comment"></textarea>
                  </div>
                  <div class="form-group">
                    <label>Your Resume</label>
                    <div class="input-group">
                      <span class="input-group-btn">
                        <span class="btn btn-default btn-theme btn-file">
                          File  <input type="file" >
                        </span>
                      </span>
                      <input type="text" class="form-control form-flat" readonly>
                    </div>
                    <small>Upload your CV/resume. Max. file size: 24 MB.</small>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-theme" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-success btn-theme">Send Application</button>
                </div>
              </form>
            </div>
          </div>
        </div><!-- end modal  apply -->        
      </div><!--end body-content -->

{% endblock content %}