{% extends 'general/skeleton/base_with_logo.html' %}

{% load staticfiles %}

{% block title %}
    Post a Job - Owatonna Jobs Online
{% endblock title %}

{% block head_extras %}
    {{ form.media }}
    <script>

    </script>
{% endblock head_extras %}

{% block content %}

      <!-- body-content -->
      <div class="body-content clearfix" >

        <!-- pricing 3 cols -->
        <div class="block-section bg-color1">
          {% if error %}
          <div class="container ">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-danger" role="alert">Error, please try again<br />{{ error }}</div>
            </div>
          </div>
          {% endif %}

          <div class="container ">

            <!-- text centered -->
            <div class="text-center" id="plan-list">
                {% if company %}
                  <strong class="text-uppercase">current plan</strong>
                  <h2>{{ company.plan.name }} Plan</h2>
                {% else %}
                  <strong class="text-uppercase">select a plan</strong>
                  <h2>Free for as long as you want</h2>
                {% endif %}
              <div class="white-space-30"></div>
            </div><!-- text centered -->

           <div class="row plan-nospace">
              {% if plans %}
              {% for plan in plans %}
                  <div class=" col-md-4 plan-item">
                    <!-- plan box -->
                    <div class="plan {% if forloop.counter == 2 %}popular{% endif %}">
                      <div class="plan-title">
                            <h3 {% if company.plan == plan %}class="text-primary"{% endif %}>{{ plan.name }} Plan</h3>
                      </div>

                      <div class="plan-price">
                        <span class="{% if company.plan == plan %}primary-price{% else %}price{% endif %}">{% if plan.cost == 0 %}FREE{% else %}${{ plan.cost }}{% endif %}</span>
                      </div>

                      <div class="plan-list">
                        <ul class="item-list list-unstyled">
                          <li><strong>{{ plan.max_posts }}</strong> Posts</li>
                          <li><strong>{% if plan.social_post %}{% if plan.email_post %}5{% else %}4{% endif %}{% else %}0{% endif %}</strong> Extras</li>
                          <li><strong>{{ plan.max_upgraded_posts }}</strong> Highlighted Posts</li>
                        </ul>
                        {% if company and company.plan != plan and plan.cost != 0 %}
                            <a href="{% url 'checkout' plan.slug %}"><button type="button" class="btn btn-t-primary btn-theme btn-lg btn-square btn-block">Subscribe</button></a>
                        {% else %}
                            {% if company %}
                                {% if company.plan != plan %}
                                    <button type="button" class="btn btn-t-primary btn-theme btn-lg btn-square btn-block" data-toggle="modal" data-target="#confirmModal">Downgrade</button>
                                {% else %}
                                    <button type="button" class="btn btn-t-primary btn-theme btn-lg btn-square btn-block">In Use</button>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'register' %}"><button type="button" class="btn btn-t-primary btn-theme btn-lg btn-square btn-block">Subscribe</button></a>
                            {% endif %}
                        {% endif %}
                      </div>
                    </div><!-- plan box -->
                  </div>
              {% endfor %}
              {% else %}
                  <h3 class="text-center">No Plans Created</h3>
              {% endif %}
            </div>

            <p class="text-center"><span class="span-line">Learn More</span></p>

          </div>
        </div><!-- end pricing 3 cols -->

        <!-- block promo -->
        <div class="block-section bg-color2 line-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-center-sm">
                <h2>Posts</h2>
                <p>Post your jobs directly to Owatonna Jobs Online in minutes. You'll get quality applicants sent directly to your inbox, no website required. Switch out your posts as much as you want, when you want.</p>
                <p><a href="{% url 'login' %}" class=" btn btn-theme btn-t-primary">Post On JobPlanet</a></p>
                <!--<p><a href="#">Learn more about posting your jobs on JobPlanet</a></p>-->
              </div>
              <div class="col-md-6 text-center hidden-sm hidden-xs">
                <img src="{% static 'theme/images/mac2-new.png' %}" alt="">
              </div>
            </div>
          </div>
        </div><!-- end block promo -->

        <!-- block promo -->
        <div class="block-section bg-color1 line-bottom">
          <div class="container">
            <div class="row">

              <div class="col-md-6 text-center hidden-sm hidden-xs"> <img src="{% static 'theme/images/mac-new.png' %}" alt=""></div>
              <div class="col-md-6 text-center-sm">
                <h2>Company Profile</h2>
                <p>A custom website showcasing your company is automatically created. With upgraded accounts, connect with users through the company logo and social media.</p>
                <p><a href="{% url 'company_list' %}" class=" btn btn-theme btn-t-primary">Look at other company pages</a></p>
              </div>
            </div>
          </div>
        </div> <!-- end block promo -->


        <!-- block promo -->
        <div class="block-section bg-color2 line-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-center-sm">
                <h2>Highlighted Posts</h2>
                <p>With highlighted posts, make your job postings get noticed instantly. Highlighted posts get put to the top of the category lists.</p>
                <p><a href="#plan-list" class="btn btn-theme btn-t-primary link-innerpage">Upgrade to premium</a></p>
              </div>
              <div class="col-md-6 text-center hidden-sm hidden-xs">
                <img src="{% static 'theme/images/mac1-new.png' %}" alt="">
              </div>
            </div>
          </div>
        </div><!-- end block promo -->

        <div class="block-section bg-color1 line-bottom">
            <div class="container table-responsive">
                <div class="text-center">
                  <h2>Detailed Comparison</h2>
                <div class="white-space-30"></div>
                </div>
                <table class="table table-bordered text-center no-margin-bottom">
                    <thead>
                      <tr>
                        <th width="19%;"></th>
                        {% for plan in plans %}
                            <th width="27%">
                                {% if company and company.plan != plan and plan.cost != 0 %}
                                    <a href="{% url 'checkout' plan.slug %}">
                                {% endif %}
                                <h4 class="text-center">{{ plan.name }} Plan</h4>
                                {% if company and company.plan != plan and plan.cost != 0 %}
                                    </a>
                                {% endif %}
                            </th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-toggle="tooltip" data-placement="left" title="How much you will pay per month for access to all of these features">Cost Per Month</td>
                        {% for plan in plans %}
                            <td>{{ plan.cost }}</td>
                        {% endfor %}
                      </tr>
                      <tr>
                        <td data-toggle="tooltip" data-placement="left" title="How many posts you can have posted per month (posts can be easily switched out as often as you want)">Max Posts</td>
                        {% for plan in plans %}
                            <td>{{ plan.max_posts }}</td>
                        {% endfor %}
                      </tr>
                      <tr>
                        <td data-toggle="tooltip" data-placement="left" title="Your own logo is displayed on all posts and your company profile">Company Logo</td>
                        {% for plan in plans %}
                            {% if plan.company_image %}
                                <td style="color:#34495e;"><i class="fa fa-check" aria-hidden="true"></i></td>
                            {% else %}
                                <td style="color:#f71115;"><i class="fa fa-times" aria-hidden="true"></i></td>
                            {% endif %}
                        {% endfor %}
                      </tr>
                      <tr>
                        <td data-toggle="tooltip" data-placement="left" title="Insert links to all of your social media accounts on your pages">Company Social Media Links</td>
                        {% for plan in plans %}
                            {% if plan.social_links %}
                                <td style="color:#34495e;"><i class="fa fa-check" aria-hidden="true"></i></td>
                            {% else %}
                                <td style="color:#f71115;"><i class="fa fa-times" aria-hidden="true"></i></td>
                            {% endif %}
                        {% endfor %}
                      </tr>
                      <tr>
                        <td data-toggle="tooltip" data-placement="left" title="A link to your job posting will be sent out to all of our followers on Facebook and Twitter">Social Media Post</td>
                        {% for plan in plans %}
                            {% if plan.social_post %}
                                <td style="color:#34495e;"><i class="fa fa-check" aria-hidden="true"></i></td>
                            {% else %}
                                <td style="color:#f71115;"><i class="fa fa-times" aria-hidden="true"></i></td>
                            {% endif %}
                        {% endfor %}
                      </tr>
                      <tr>
                        <td data-toggle="tooltip" data-placement="left" title="Posts are instantly live when you click OK">Instant Posting</td>
                        {% for plan in plans %}
                            {% if plan.cost != 0 %}
                                <td style="color:#34495e;"><i class="fa fa-check" aria-hidden="true"></i></td>
                            {% else %}
                                <td style="color:#f71115;"><i class="fa fa-times" aria-hidden="true"></i></td>
                            {% endif %}
                        {% endfor %}
                      </tr>
                      <tr>
                        <td data-toggle="tooltip" data-placement="left" title="We will send out an email to our subscribers with a link to your post">Email Newsletter</td>
                        {% for plan in plans %}
                            {% if plan.email_post %}
                                <td style="color:#34495e;"><i class="fa fa-check" aria-hidden="true"></i></td>
                            {% else %}
                                <td style="color:#f71115;"><i class="fa fa-times" aria-hidden="true"></i></td>
                            {% endif %}
                        {% endfor %}
                      </tr>
                      <tr>
                        <td data-toggle="tooltip" data-placement="left" title="Have your post at the top of any category page for increased visability">Highlighted Posts</td>
                        {% for plan in plans %}
                            <td>{{ plan.max_upgraded_posts }}</td>
                        {% endfor %}
                      </tr>
                    </tbody>
                </table>
                <small>Mouse over any feature for a more information</small>
            </div>
        </div>

        <!-- block bottom -->
        <div class="block-section bg-color2">
          <div class="container text-center">
            <strong class="text-uppercase">support</strong>
            <h2 >Any questions?</h2>
            <div class="white-space-20"></div>
            <div class="row">
                <a href="{% url 'faq' %}" class="btn btn-t-primary btn-theme">FAQ</a>
                <a href="{% url 'contact_us' %}" class="btn btn-t-primary btn-theme">Contact Us</a>
            </div>
          </div>
        </div><!-- end block bottom -->
      </div><!--end body-content -->

    {% for plan in plans %}
        {% if plan.cost == 0 %}
            <div id="confirmModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <form action="#" method="post" id="{{ plan.slug }}">
                      {% csrf_token %}
                      <input type="hidden" name="plan" value="{{ plan.slug }}">
                    </form>
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header" style="padding-top:20px;padding-bottom:40px;">
                          <div class="col-md-9" style="padding-top:10px;">
                            <h4 class="modal-title">Confirm Downgrade of Account</h4>
                          </div>
                          <button type="button" class="btn-xs btn-primary pull-right" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                      </div>
                      <div class="modal-body">
                        <p>We're sorry for letting you leave our premium plans. If there's anything that we can do to change your mind, please email us at <a href="mailto:ethan@owatonnajobsonline.com">ethan@owatonnajobsonline.com</a></p>
                        <p>If you decide to downgrade your subscription, you will be directed to your post manager to choose which posts to re-enable (by default, all posts will be disabled)</p>
                      </div>
                      <div class="modal-footer">
                          <button type="submit" class="btn btn-danger" form="{{ plan.slug }}" value="Submit">Downgrade</button>
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock content %}