{% extends 'general/skeleton/base_with_logo.html' %}

{% load staticfiles %}

{% block title %}
Post a Job - Owatonna Jobs Online
{% endblock title %}

{% block head_extras %}
    {{ form.media }}
    <script>

    </script>
{% endblock head_extras %}

{% block content %}

      <!-- body-content -->
      <div class="body-content clearfix" >

        <!-- pricing 3 cols -->
        <div class="block-section bg-color1">
          {% if error %}
          <div class="container ">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-danger" role="alert">Error, please try again<br />{{ error }}</div>
            </div>
          </div>
          {% endif %}

          <div class="container ">

            <!-- text centered -->
            <div class="text-center">
                {% if company %}
                  <strong class="text-uppercase">current plan</strong>
                  <h2>{{ company.plan.name }} Plan</h2>
                {% else %}
                  <strong class="text-uppercase">select a plan</strong>
                  <h2>Free for as long as you want</h2>
                {% endif %}
              <div class="white-space-30"></div>
            </div><!-- text centered -->

           <div class="row plan-nospace">
              {% if plans %}
              {% for plan in plans %}
                  <div class=" col-md-4 plan-item">
                    <!-- plan box -->
                    <div class="plan {% if forloop.counter == 2 %}popular{% endif %}">
                      <div class="plan-title">
                            <h3 {% if company.plan == plan %}class="text-primary"{% endif %}>{{ plan.name }} Plan</h3>
                      </div>

                      <div class="plan-price">
                        <span class="{% if company.plan == plan %}primary-price{% else %}price{% endif %}">{% if plan.cost == 0 %}FREE{% else %}${{ plan.cost }}{% endif %}</span>
                      </div>

                      <div class="plan-list">
                        <ul class="item-list list-unstyled">
                          <li><strong>{{ plan.max_posts }}</strong> Posts</li>
                          <li><strong>{% if plan.social_post %}{% if plan.email_post %}5{% else %}4{% endif %}{% else %}0{% endif %}</strong> Extras</li>
                          <li><strong>{{ plan.max_upgraded_posts }}</strong> Highlighted Posts</li>
                        </ul>
                        {% if company and company.plan != plan and plan.cost != 0 %}
                            <form action="#" method="POST">
                                {% csrf_token %}
                                  <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="{{ pushable_key }}"
                                    data-image="{% static 'theme/images/logo/case.png' %}"
                                    data-name="Owatonna Jobs Online"
                                    data-description="{{ plan.name }} Subscription"
                                    data-amount="{{ plan.cost }}00"
                                    data-locale="auto"
                                    data-panel-label="Subscribe for {{ amount }}"
                                    data-label="Purchase">
                                  </script>
                                <input type="hidden" name="plan" value="{{ plan.id }}">
                            </form>
                        {% else %}
                            <a href="{% url 'register' %}"><button type="button" class="btn btn-t-primary btn-theme btn-lg btn-square btn-block"> {% if company.plan == plan %}In Use{% else %}{% if company %}Free{% else %}Sign Up{% endif %}{% endif %}</button></a>
                        {% endif %}
                      </div>
                    </div><!-- plan box -->
                  </div>
              {% endfor %}
              {% else %}
                  <h3 class="text-center">No Plans Created</h3>
              {% endif %}
            </div>

            <p class="text-center"><span class="span-line">Learn More</span></p>

          </div>
        </div><!-- end pricing 3 cols -->

        <!-- block promo -->
        <div class="block-section bg-color2 line-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-center-sm">
                <h2>Posts</h2>
                <p>Post your jobs directly to Owatonna Jobs Online in minutes. You'll get quality applicants sent directly to your inbox, no website required. Switch out your posts as much as you want, when you want.</p>
                <p><a href="{% url 'login' %}" class=" btn btn-theme btn-t-primary">Post On JobPlanet</a></p>
                <!--<p><a href="#">Learn more about posting your jobs on JobPlanet</a></p>-->
              </div>
              <div class="col-md-6 text-center hidden-sm hidden-xs">
                <img src="{% static 'theme/images/mac2-new.png' %}" alt="">
              </div>
            </div>
          </div>
        </div><!-- end block promo -->

        <!-- block promo -->
        <div class="block-section bg-color1 line-bottom">
          <div class="container">
            <div class="row">

              <div class="col-md-6 text-center hidden-sm hidden-xs"> <img src="{% static 'theme/images/mac-new.png' %}" alt=""></div>
              <div class="col-md-6 text-center-sm">
                <h2>Company Profile</h2>
                <p>A custom website showcasing your company is automatically created. With upgraded accounts, connect with users through the company logo and social media.</p>
                <p><a href="{% url 'company_list' %}" class=" btn btn-theme btn-t-primary">Look at other company pages</a></p>
              </div>
            </div>
          </div>
        </div> <!-- end block promo -->


        <!-- block promo -->
        <div class="block-section bg-color2 line-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-center-sm">
                <h2>Highlighted Posts</h2>
                <p>With highlighted posts, make your job postings noticed. Highlighted posts get put to the top of the category lists.</p>
                <p><a href="resume_list.html" class=" btn btn-theme btn-t-primary">Upgrade to premium</a></p>
              </div>
              <div class="col-md-6 text-center hidden-sm hidden-xs">
                <img src="{% static 'theme/images/mac1-new.png' %}" alt="">
              </div>
            </div>
          </div>
        </div><!-- end block promo -->

        <div class="block-section bg-color1 line-bottom">
            <div class="container table-responsive">
                <div class="text-center">
                  <h2>Detailed Comparison</h2>
                <div class="white-space-30"></div>
                </div>
                <table class="table table-bordered text-center">
                    <thead>
                      <tr>
                        <th width="19%;"></th>
                        {% for plan in plans %}
                          <th width="27%"><h4 class="text-center">{{ plan.name }} Plan</h4></th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Cost</td>
                        {% for plan in plans %}
                            <td>{{ plan.cost }}</td>
                        {% endfor %}
                      </tr>
                      <tr>
                        <td>Max Posts</td>
                        {% for plan in plans %}
                            <td>{{ plan.max_posts }}</td>
                        {% endfor %}
                      </tr>
                      <tr>
                        <td>Company Logo</td>
                        {% for plan in plans %}
                            {% if plan.company_image %}
                                <td style="color:#34495e;"><i class="fa fa-check" aria-hidden="true"></i></td>
                            {% else %}
                                <td style="color:#f71115;"><i class="fa fa-times" aria-hidden="true"></i></td>
                            {% endif %}
                        {% endfor %}
                      </tr>
                      <tr>
                        <td>Company Social Media Links</td>
                        {% for plan in plans %}
                            {% if plan.social_links %}
                                <td style="color:#34495e;"><i class="fa fa-check" aria-hidden="true"></i></td>
                            {% else %}
                                <td style="color:#f71115;"><i class="fa fa-times" aria-hidden="true"></i></td>
                            {% endif %}
                        {% endfor %}
                      </tr>
                      <tr>
                        <td>Social Media Post</td>
                        {% for plan in plans %}
                            {% if plan.social_post %}
                                <td style="color:#34495e;"><i class="fa fa-check" aria-hidden="true"></i></td>
                            {% else %}
                                <td style="color:#f71115;"><i class="fa fa-times" aria-hidden="true"></i></td>
                            {% endif %}
                        {% endfor %}
                      </tr>
                      <tr>
                        <td>Instant Posting</td>
                        {% for plan in plans %}
                            {% if plan.cost != 0 %}
                                <td style="color:#34495e;"><i class="fa fa-check" aria-hidden="true"></i></td>
                            {% else %}
                                <td style="color:#f71115;"><i class="fa fa-times" aria-hidden="true"></i></td>
                            {% endif %}
                        {% endfor %}
                      </tr>
                      <tr>
                        <td>Email Newsletter</td>
                        {% for plan in plans %}
                            {% if plan.email_post %}
                                <td style="color:#34495e;"><i class="fa fa-check" aria-hidden="true"></i></td>
                            {% else %}
                                <td style="color:#f71115;"><i class="fa fa-times" aria-hidden="true"></i></td>
                            {% endif %}
                        {% endfor %}
                      </tr>
                      <tr>
                        <td>Highlighted Posts</td>
                        {% for plan in plans %}
                            <td>{{ plan.max_upgraded_posts }}</td>
                        {% endfor %}
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- block bottom -->
        <div class="block-section bg-color2">
          <div class="container text-center">
            <strong class="text-uppercase">support</strong>
            <h2 >Any questions?</h2>
            <div class="white-space-20"></div>
            <a href="#" class="btn btn-t-primary  btn-theme">Contact Us</a>
          </div>
        </div><!-- end block bottom -->



      {% if four_digits %}
        <!-- Modal -->
      <div class="modal fade" id="confirmPayment" role="dialog">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Confirm Purchase</h4>
            </div>
            <div class="modal-body">
              <p>Confirm subscription for posting using card <b>{{ four_digits }}</b></p>
            </div>
            <div class="modal-footer">
              <form action="" method = "post">
                  {% csrf_token %}
                  <input class="btn btn-primary" type="submit" name="checkout" value="Subscribe with Card {{ four_digits }}" />
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}


      </div><!--end body-content -->

{% endblock content %}

{% block js %}
    <script>
        $(document).ready(function(){
            $(".stripe-button-el").addClass("btn btn-t-primary btn-theme btn-lg btn-square btn-block");
            $(".stripe-button-el").attr("id", "stripe-button");
            $(".stripe-button-el").removeClass("stripe-button-el");
            $("#stripe-button > span").css("min-height", "");
        });
    </script>
{% endblock %}