{% extends 'general/skeleton/base_with_search.html' %}

{% load staticfiles %}
{% load endless %}

{% block title %}
Owatonna Jobs Online
{% endblock title %}

{% block content %}

      <!-- body-content -->
      <div class="body-content clearfix" >

        <div class="bg-color2">
          <div class="container">
            <div class="row">
              <div class="col-md-9">

                <!-- box listing -->
                <div class="block-section-sm box-list-area">

                  <!-- desc top -->
                  <div class="row hidden-xs">
                    <div class="col-sm-6  ">
                      <p><strong class="color-black">Local Owatonna Jobs</strong></p>
                    </div>
                    <div class="col-sm-6">
                      <p class="text-right">
                        {{ posts|length }} Jobs Found
                      </p>
                    </div>
                  </div><!-- end desc top -->

                  <!-- item list -->
                      <div class="endless_page_template">
                          {% include page_template %}
                      </div>

                </div><!-- end box listing -->


              </div>
              <div class="col-md-3">
                <div class="block-section-sm side-right">
                  <div class="row">
                    <div class="col-xs-6">
                      <p><strong>Sort by: </strong></p>
                    </div>
                    <div class="col-xs-6">
                      <p class="text-right">
                        <strong style="color:black">Date</strong>
                      </p>
                    </div>
                  </div>


                <h5 class="font-bold  margin-b-20"><a href="#s_collapse_2" data-toggle="collapse" >Category <i class="fa ic-arrow-toogle fa-angle-right pull-right"></i></a>  </h5>
                <div class="collapse in" id="s_collapse_2">
                  <div class="list-area">
                    <ul class="list-unstyled ">
                        {% for category in categories %}
                            <li>
                            {% if category.0.slug == category_slug %}
                                <strong style="color:dimgrey"><a href="{% url 'category_search' category.0.slug %}" style="color:black">{{ category.0 }}</a> ({{ category.1 }})</strong>
                            {% else %}
                                <a  href="{% url 'category_search' category.0.slug %}">{{ category.0.name }}</a> ({{ category.1 }})
                            {% endif %}

                            </li>
                        {% endfor %}
                      <li>
                        <a  href="{% url 'category_list' %}" >More ... </a>
                      </li>
                    </ul>

                  </div>
                </div>

                  <div class="result-filter">
                    <h5 class="no-margin-top font-bold margin-b-20 " ><a href="#s_collapse_1" data-toggle="collapse" >Job Type <i class="fa ic-arrow-toogle fa-angle-right pull-right"></i> </a></h5>
                    <div class="collapse in" id="s_collapse_1">
                      <div class="list-area">
                        <ul class="list-unstyled ">
                          {% for type in job_types %}
                            <li>
                                {% if job_type_slug == type.0.slug %}
                                    <strong style="color:dimgrey"><a href="{% url 'job_type_search' type.0.slug %}" style="color:black">{{ type.0.name }}</a> ({{ type.1 }})</strong>
                                {% else %}
                                    <a href="{% url 'job_type_search' type.0.slug %}" >{{ type.0.name }} </a> ({{ type.1 }})
                                {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>



                    <h5 class="font-bold  margin-b-20"><a href="#s_collapse_3" data-toggle="collapse" >Company <i class="fa ic-arrow-toogle fa-angle-right pull-right"></i></a> </h5>
                    <div class="collapse in" id="s_collapse_3">
                      <div class="list-area">
                        <ul class="list-unstyled ">
                            {% for company in companies %}
                                <li>
                                    <a  href="{% url 'company_details' company.0.slug %}">{{ company.0 }}</a> ({{ company.1 }})
                                </li>
                            {% endfor %}
                        </ul>

                      </div>
                    </div>





                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>



        <!-- modal need login -->
        <div class="modal fade" id="need-login">
          <div class="modal-dialog modal-md">
            <div class="modal-content">

              <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >You must login to save jobs</h4>
              </div>
              <div class="modal-footer text-center">
                <a href="#" class="btn btn-default btn-theme" >Login</a>
                <a href="#" class="btn btn-success btn-theme">Create account (it's free)</a>
              </div>

            </div>
          </div>
        </div><!-- end modal  need login -->


        <!-- modal need login -->
        <div class="modal fade" id="modal-email">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <form>
                <div class="modal-header ">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" >Send this job to yourself or a friend:</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label>From my email address</label>
                    <input type="email" class="form-control "  placeholder="Enter Email">
                  </div>
                  <div class="form-group">
                    <label>To email address</label>
                    <input type="email" class="form-control "  placeholder="Enter Email">
                  </div>

                  <div class="form-group">
                    <label>Comment (optional)</label>
                    <textarea class="form-control" rows="6" placeholder="Something Comment"></textarea>
                  </div>
                  <div class="checkbox flat-checkbox">
                    <label>
                      <input type="checkbox">
                      <span class="fa fa-check"></span>
                      Send a copy to my email address?
                    </label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-theme" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-success btn-theme">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div><!-- end modal  need login -->
      </div><!--end body-content -->

{% endblock content %}

{% block js %}
    <script src="{% static 'plugins/endless-pagination.js' %}"></script>
{% endblock js %}