{% extends 'general/skeleton/base_with_logo.html' %}

{% load staticfiles %}

{% block title %}
Post a Job - Owatonna Jobs Online
{% endblock title %}

{% block head_extras %}
    {{ form.media }}
    <script>

    </script>
{% endblock head_extras %}

{% block content %}

      <!-- body-content -->
      <div class="body-content clearfix" >

        <div class="bg-color2 block-section line-bottom">
          <div class="container">
              <h1 class="text-center no-margin">
                  {% if post_slug %}
                      Update Job
                  {% else %}
                      Post a Job
                  {% endif %}
              </h1>
          </div>
        </div>

        <div class="bg-color1 block-section line-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <p style="color:red">{{ form.non_field_errors }}</p>
                <!-- form post a job -->
                <form id="post_form" method="post" action="{{ request.path }}">
                    {% csrf_token %}
                  <div class="form-group">
                    <label>Job title</label>
                      {{ form.title }}
                    <small style="color:red">{{ form.title.errors|striptags }}</small>
                  </div>
                  <div class="form-group">
                    <label>Job description</label>
                    <div class="color-white-mute"><small>Describe the responsibilities of this job, required work experience, skills, or education.</small></div>
                      {{ form.description }}
                    <div class="color-white-mute"><small>Allowed tags: {{ allowed_tags }}</small></div>
                    <small style="color:red">{{ form.description.errors|striptags }}</small>
                  </div>
                  <div class="form-group">
                    <label>Location</label>
                      {{ form.location }}
                      <small style="color:red">{{ form.location.errors|striptags }}</small>
                  </div>

                  <div class="form-group">
                    <label>Job Type</label>
                    <div class="row clearfix">
                      <div class="col-xs-6">
                          {{ form.job_type }}
                          <small style="color:red">{{ form.job_type.errors|striptags }}</small>
                      </div>
                    </div>
                  </div>

                  <!-- checkboxs -->
                  <div class="form-group">
                    <label>Job Categories (up to three)</label>
                    <div class="row clearfix">
                        <div class="col-md-4">
                            {% for category in form.categories %}

                                <!-- If the forloop has gone through the first column -->
                                {% if forloop.counter0 == category_column_size or forloop.counter0 == category_column_2_size %}
                                    {% if forloop.counter0 == category_column_size %}
                                        <small style="color:red">{{ form.categories.errors|striptags }}</small>
                                    {% endif %}
                                    </div><div class="col-md-4">
                                {% endif %}

                                <div class="checkbox flat-checkbox">
                                      <label>
                                        {{ category.choice_label }}
                                        {{ category.tag }}
                                        <span class="fa fa-check"></span>
                                      </label>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                  </div><!-- end checkboxs -->


                  <div class="form-group line-bottom">
                    <label>Salary (optional)</label>
                    <div class="row clearfix">
                      <div class="col-xs-4">
                          {{ form.low_salary }}
                          <small style="color:red">{{ form.low_salary.errors|striptags }}</small>
                      </div>
                      <div class="col-xs-4">
                          {{ form.high_salary }}
                          <small style="color:red">{{ form.high_salary.errors|striptags }}</small>
                      </div>
                      <div class="col-xs-4">
                          {{ form.type_salary }}
                          <small style="color:red">{{ form.type_salary.errors|striptags }}</small>
                      </div>
                    </div>
                    <br />
                  </div>

                  <br />

                  <div class="form-group">
                      <label>Application Instructions (optional)</label>
                      {{ form.application_details }}
                      <small style="color:red">{{ form.application_details.errors|striptags }}</small>
                  </div>
                  <div class="form-group">
                      <label>Applications will be emailed to:</label>
                      {{ form.email }}
                      <small style="color:red">{{ form.email.errors|striptags }}</small>
                  </div>

                  <div class="form-group ">
                    <button class="btn btn-t-primary btn-theme">
                        {% if post_slug %}
                            Save Changes
                        {% else %}
                            {% if can_post %}
                                Post Job
                            {% else %}
                                Save and Upgrade
                            {% endif %}
                        {% endif %}
                    </button>
                  </div>

                </form> <!-- end form post a job -->
              </div>
            </div>
          </div>
        </div>        
      </div><!--end body-content -->

{% endblock content %}