{% extends 'general/skeleton/base_with_search.html' %}

{% load staticfiles %}
{% load board_extras %}
{% load humanize %}

{% block title %}Owatonna Jobs Online - {{ job.title }}{% endblock title %}

{% block content %}

      <!-- body-content -->
      <div class="body-content clearfix" >

        <!-- link top -->
        <div class="bg-color2 block-section-xs line-bottom">
          {% if not job.paid or not job.verified %}
              <div class="col-md-2"></div>
              <div class="alert alert-danger col-md-8" role="alert">
                {% if not job.paid %}
                    This post is not findable yet due to not yet being enabled. <a href="{% url 'update_posts' %}">Enable this post</a> or <a href="{% url 'company_plans' %}">Upgrade your account!</a>
                {% elif not job.verified %}
                    This post is not findable yet due to not yet being verified. It'll be up extremely soon!
                {% endif %}
              </div>
          {% endif %}
          <div class="container">
            <div class="row">
              <div class="col-sm-6 hidden-xs">
                <div>Job details :</div>
              </div>
              <div class="col-sm-6">
                <div class="text-right"><a style="cursor:pointer;" onclick="history.back();">&laquo; Go back to job listings</a></div>
              </div>
            </div>

          </div>
        </div><!-- end link top -->

        <div class="bg-color2">
          <div class="container">
            <div class="row">
              <div class="col-md-9">
                <!-- box item details -->
                <div class="block-section box-item-details">
                  <div class="row">
                    <div class="col-md-8">
                      <a href="{% url 'company_details' job.company.slug %}">
                          {% if job.company.picture and job.company.plan.company_image %}
                            <img style="max-width:220px; max-height:60px;" src="{{ job.company.picture.url }}" alt="">
                          {% else %}
                            <h2 class="no-margin-top">{{ job.company.name }}</h2>
                          {% endif %}
                      </a>
                    </div>
                    <div class="col-md-4">
                      <p class="text-right"><a href="{{ job.company.website }}">Go to our website &raquo;</a></p>
                    </div>
                  </div>

                  <h2 class="title">{{ job.title }}</h2>
                  <div class="job-meta">
                    <ul class="list-inline">
                      <li><i class="fa fa-briefcase"></i> {{ job.get_job_type_display }}</li>
                      <li><i class="fa fa-map-marker"></i> {{ job.location }}</li>
                        {% if job.low_salary and job.high_salary %}
                            <li><i class="fa fa-money"></i> ${{ job.low_salary|intcomma }} - ${{ job.high_salary|intcomma }}
                        {% else %}
                            {% if job.low_salary %}
                                <li><i class="fa fa-money"></i> ${{ job.low_salary|intcomma }}+
                            {% endif %}
                            {% if job.high_salary  %}
                                <li><i class="fa fa-money"></i> Up to ${{ job.high_salary|intcomma }}
                            {% endif %}
                        {% endif %}
                        {% if job.low_salary or job.high_salary %}
                            {% if job.type_salary %}
                                    {{ job.get_type_salary_display }}</li>
                            {% endif %}
                        {% endif %}
                    </ul>
                  </div>
                  {{ job.description|safe|bleach_escape }}
                </div><!-- end box item details -->

              </div>
              <div class="col-md-3">

                <!-- box affix right -->
                <div class="block-section " id="affix-box">
                  <div class="text-right">
                    <p><a href="#modal-apply"  data-toggle="modal" class="btn btn-theme btn-t-primary btn-block-xs">Apply for this Job</a></p>
                    <p>Share This Job <span class="space-inline-10"></span></p>
                    <p class="share-btns btn-block-xs">
                      <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="btn btn-info"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i></a>
                      <a href="#" class="btn btn-warning"><i class="fa fa-envelope"></i></a>
                    </p>
                  </div>
                </div><!-- box affix right -->

              </div>
            </div>
          </div>
        </div>


        <!-- modal apply -->
        <div class="modal fade" id="modal-apply">
          <div class="modal-dialog ">
            <div class="modal-content">
              <form>
                <div class="modal-header ">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" >Application</h4>
                </div>
                <div class="modal-body">
                  {% if job.application_details %}
                  <h4>Instructions</h4>
                  <p>{{ job.application_details|linebreaks }}</p>
                  <br />
                  {% endif %}
                  <h4>Application Email</h4>
                  <a href="mailto:{{ job.email }}"><p>{{ job.email }}</p></a>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-theme" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div><!-- end modal  apply -->        
      </div><!--end body-content -->

{% endblock content %}